RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /404.html [L]

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect to https://dconsult.in/ for all requests
  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\. [NC]
  RewriteRule ^(.*)$ https://dconsult.in/$1 [L,R=301]

  # Redirect specifically for https://dconsult.in/index.html
  RewriteCond %{HTTPS} on
  RewriteCond %{HTTP_HOST} ^dconsult\.in$ [NC]
  RewriteRule ^index\.html$ https://dconsult.in/ [L,R=301]
</IfModule>
